---
layout: default
title: Hiring Status
canonical: /jobs/hiring-status
extra_css:
  - hiring-status.css
---
.container.content-container.text-left
  .tile
    %h2 Where GitLab can Hire?
    %p
      In order for GitLab to be able to hire globally, we need to evaluate our company tax liability, scalability and frugality in each country we have team members living in.
    %p
      For countries we haven't evaluated yet, there is a default hiring limit of five people, that can be increased or decreased after initial evaluation.
    %p
      In countries where we have already reached that limit, we consider working with a Professional Employer Organisation or opening a GitLab Entity.

    %h3 Countries
    %table.table-striped
      %tr
        %th
          Country
        %th
          Can Hire?
        %th
          Hiring Limitation
        %th
          Explanation
        %th
          Employment Laws
        %th
          Employment Taxes
        %th
          Corporate Taxes
        %th
          Legal System
      - Gitlab::Homepage::Jobs::HiringStatus.hireables.each do |hireable|
        %tr
          %td
            = hireable['country']
          %td.text-center
            = hireable.hiring? ? "✅" : "🚫"
          %td.text-center
            = hireable.hiring_limit
          %td
            = hireable.explanation
          %td.text-center
            = hireable['employment_laws_approved'] ? "✅" : "🚫" unless hireable['employment_laws_approved'].nil?
          %td.text-center
            = hireable['employment_taxes_approved'] ? "✅" : "🚫" unless hireable['employment_taxes_approved'].nil?
          %td.text-center
            = hireable['corporate_taxes_approved'] ? "✅" : "🚫" unless hireable['corporate_taxes_approved'].nil?
          %td.text-center
            = hireable['legal_system_approved'] ? "✅" : "🚫" unless hireable['legal_system_approved'].nil?

    %h3 Countries with GitLab entity

    This are the countries where we have a legal entity established.

    %table.table-striped
      %tr
        %th
          Country
        %th
          Entity
      - Gitlab::Homepage::Jobs::HiringStatus.with_gitlab_entities.each do |hireable|
        %tr
          %td
            = hireable['country']
          %td
            - if hireable['gitlab_entity'].respond_to?(:each)
              - hireable['gitlab_entity'].each do |entity|
                = icon('gitlab-icon', "", width: 16, height: 16)
                = entity
                %br
            - else
              = icon('gitlab-icon', "", width: 16, height: 16)
              = hireable['gitlab_entity']

    %h3 Countries we use a Professional Employer Organization

    In some countries we hire with the help of a hiring partner.

    %table.table-striped
      %tr
        %th
          Country
        %th
          Entity
      - Gitlab::Homepage::Jobs::HiringStatus.with_peo_entities.each do |hireable|
        %tr
          %td
            = hireable['country']
          %td
            = hireable['peo_entity']

    %h3 Countries under sanction
    %table.table-striped
      %tr
        %th
          Country
        %th
          Can Hire?
        %th
          Explanation
      - Gitlab::Homepage::Jobs::HiringStatus.under_sanctions.each do |sanctioned|
        %tr
          %td
            = sanctioned['country']
          %td
            🚫
          %td
            = sanctioned['explanation']
