<div class="tile tile-animated">
    <div class="tile-content">
        <h4>Details</h4>
        <br/>
        <% data.services.each do |s| %>
            <% if s.sku == sku %>
            <table>
                <%if s.category%>
                <tr>
                    <td>
                        <strong>Category</strong>
                    </td>
                    <td><%= s.category %></td>
                </tr>
                <%end%>
                <%if s.duration%>
                <tr>
                    <td>
                        <strong>Duration</strong>
                    </td>
                    <td><%= s.duration %></td>
                </tr>
                <%end%>
                <%if s.sku%>
                <tr>
                    <td>
                        <strong>SKU</strong>
                    </td>
                    <td><%= s.sku %></td>
                </tr>
                <%end%>
                <%if s.price%>
                <tr>
                    <td>
                        <strong>Price</strong>
                    </td>
                    <td>
                        <%= number_to_currency(s.price, precision: 0) %> 
                        <%if s.unit%>
                            per <%= s.unit%>
                        <%end%>
                    </td>
                </tr>
                <%end%>
            </table>
            <% end %>
        <% end %>
    </div>
</div>