---
layout: job_family_page
title: "Chief Revenue Officer"
---

## Responsibilities

* Lead our account managers
* Get directly involved in deals when necessary
* Root cause analysis on wins/losses
* Manage and report on sales pipeline
* Provide input on product direction and strategy as a result of sales
  performance, root cause analysis, and competitive analysis.
* Help marketing with developing product/content marketing materials (blog
  posts, white papers, product briefs, slide decks) that reflect GitLab's core
  value proposition, competitive advantage and market positioning
* Must successfully complete a [background check](/handbook/people-operations/code-of-conduct/#background-checks).
* [Leadership at GitLab](https://about.gitlab.com/handbook/leadership/#e-group)

<%= partial("job-families/sales/performance", :locals => { :roleName => "Chief Revenue Officer" }) %>
