---
layout: markdown_page
title: Ecosystem Team
---

## On this page
{:.no_toc}

- TOC
{:toc}

## Vision

Enable seamless integration between GitLab and 3rd party products as well as make GitLab products available on cloud service providers’ marketplaces, expanding GitLab market opportunities.

## Mission

The Ecosystem team is responsible for design, build, and maintain -
* SDK and APIs of GitLab products.
* Solutions to integrate to partner and 3rd party platforms.
* Solutions for integrating with cloud service provider marketplaces, such as AWS.
* Develop documentation and instructions of how to work with GitLab SDK & APIs.

## Team Members

The following people are permanent members of the Ecosystem Team:

<%= direct_team(manager_role: 'Engineering Manager, Ecosystem') %>

## Stable Counterparts

The following members of other functional teams are our stable counterparts:

<%= stable_counterparts(role_regexp: /[,&] Ecosystem/, direct_manager_role: 'Engineering Manager, Ecosystem') %>

## Meetings

Whenever possible, we prefer to communicate asynchronously using issues, merge requests, and Slack. However, face-to-face meetings are useful to establish personal connection and to address items that would be more efficiently discussed synchronously such as blockers.
  * Weekly Ecosystem product and engineering meeting - Wednesdays 11:00am CST/16:00 UTC
    * Note that the weekly meeting schedule will undergo some iteration as new team members come on board. Meetings will be recorded and everyone is encouraged to watch the meeting on our [GitLab Unfiltered playlist](https://www.youtube.com/playlist?list=PL05JrBw4t0KpoFo2QyceT_4CNfcq7do4s) if they are not able to attend.

## Common Links

  * [Ecosystem Epics](https://gitlab.com/groups/gitlab-org/-/epics/1515) - A primary collection point for grouped collections of integrations.
  * [Ecosystem Issue Board](https://gitlab.com/groups/gitlab-org/-/boards/1167634?scope=all&utf8=%E2%9C%93&state=opened&label_name[]=group%3A%3Aecosystem) - Used for scheduling and prioritization. It provides an overview of the backlog and planned issues by milestone.
  * [Ecosystem Workflow Board](https://gitlab.com/groups/gitlab-org/-/boards/1290820?scope=all&utf8=%E2%9C%93&state=opened&label_name[]=group%3A%3Aecosystem) - Used to track the progress of issues that are scheduled for development with the workflow::scheduled label.
  * [Ecosystem Subgroup](https://gitlab.com/gitlab-org/ecosystem-team) - Issues and templates related to team process.
  * [Ecosystem Stage Strategy](/direction/ecosystem/)
  * [Product Development Timeline](/handbook/engineering/workflow/#product-development-timeline)
  * Slack channel: [#g_ecosystem](https://gitlab.slack.com/messages/CK4Q4709G)
